
@{
    ViewBag.Title = "IndexVue";
}

<article id="app" class="row" v-cloak>
    <!--Modal voor maken nieuwe sms op basis van bestaand contact-->
    <modal-new-sms-contact v-on:close="showNewSmsContactModal = false" v-bind:show="showNewSmsContactModal" v-bind:sms="sms" v-bind:contacts="contacts"></modal-new-sms-contact>

    <!--Modal voor maken nieuwe sms op basis van nummer-->
    <modal-new-sms-number v-on:close="showNewSmsNumberModal = false" v-bind:show="showNewSmsNumberModal" v-bind:sms="sms" v-bind:contacts="contacts"></modal-new-sms-number>

    <!--Modal voor selectie nieuwe sms: contact of nummer-->
    <modal-select v-on:close="closedNewSmsSelectModal"
                  v-bind:show="showNewSmsSelectModal"></modal-select>

    <header class="col-md-6">
        <h3>
            {{ message }}
            <span v-if="showButtons">
                <button v-on:click="showNewSmsSelectModal = true" class="btn btn-warning">New</button>
                <button v-on:click="loadData()" class="btn btn-warning">Refresh</button>  
            </span>
            <span v-if="showButtons" style="float: right">
                <button v-on:click="sendSelected(currentSms.Id)" class="btn btn-success">Send Selected</button>
                <button v-on:click="toggleSendPending()" class="btn btn-success">Send Pending</button>
            </span>
        </h3>
        <nav>
            <ul class="list-group">
                <li v-for="s in sms"
                    v-on:click="fetchSmsDetails(s)" :class="getSmsClass(s)"
                    style="cursor:pointer">
                    <span class="list-group-item-heading">{{ s.ContactFirstName + ' ' + s.ContactLastName }}</span>
                    <span class="list-group-item-text text-muted"> ({{ s.ContactNumber }})</span>
                    <span class="badge">{{ s.StatusName }}</span>
                    <div class="list-group-item-text lead">{{ getShortenedMessage(s.Message) }}</div>
                </li>
            </ul>
        </nav>
    </header>
    <article v-if="currentSms" class="col-md-4">
        <h3>Details</h3>
        <div v-if="editMode" class="form-group">
            <table>
                <tr>
                    <td>Contact:</td>
                    <td>
                        <select v-model="currentSms.ContactId" class="form-control"
                                v-on:change="currentSmsSelectedContactChanged">
                            <option v-for="contact in contacts"
                                    v-bind:value="contact.Id">
                                {{ contact.FirstName + ' ' + contact.LastName }}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Contact First Name:</td>
                    <td>{{ currentSms.ContactFirstName}}</td>
                </tr>
                <tr>
                    <td>Contact Last Name:</td>
                    <td>{{ currentSms.ContactLastName}}</td>
                </tr>
                <tr>
                    <td>Nummer:</td>
                    <td>{{ currentSms.ContactNumber}}</td>
                </tr>
                <tr>
                    <td>Bericht:</td>
                    <td><textarea v-model="currentSms.Message" class="form-control"> </textarea></td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>
                        <select v-model="currentSms.StatusId" class="form-control"
                                v-on:change="currentSmsSelectedStatusChanged">
                            <option v-for="status in statusList"
                                    v-bind:value="status.Id">
                                {{ status.Name }}
                            </option>
                        </select>
                    </td>
                </tr>
            </table>
            <button v-on:click="saveEdit" class="btn btn-primary">Save</button>
        </div>
        <div v-else>
            <table>
                <tr>
                    <td>Contact:</td>
                    <td class="smsContactName">{{  currentSms.ContactFirstName + ' ' + currentSms.ContactLastName}}</td>
                </tr>
                <tr>
                    <td>Nummer:</td>
                    <td class="sms">{{ currentSms.ContactNumber}}</td>
                </tr>
                <tr>
                    <td>Bericht:</td>
                    <td>{{ currentSms.Message}}</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>{{ currentSms.StatusName}}</td>
                </tr>
            </table>
            <button v-on:click="toEditMode(true)" class="btn btn-primary">Edit</button>
            <button v-on:click="deleteSms()" class="btn btn-danger">Delete</button>
        </div>
    </article>
</article>

@section scripts{
    <script src="~/Scripts/vue.js"></script>

    <!-- templates for the modal components -->
    <!-- modal-template-select -->
    <script type="text/x-template" id="modal-template-select">
        <transition name="modal">
            <div class="modal-mask" v-show="show">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            <slot name="header">
                                Maak een nieuwe sms op basis van:
                            </slot>
                        </div>

                        <div class="modal-body">
                            <slot name="body">
                                <div class="form-group">
                                    <table>
                                        <tr>
                                            <td><button class="btn btn-primary btn-block" v-on:click="$emit('close','showNewSmsContactModal')">Contact</button></td>
                                        </tr>
                                        <tr>
                                            <td><button class="btn btn-primary btn-block" v-on:click="$emit('close','showNewSmsNumberModal')">Nummer</button></td>
                                        </tr>
                                    </table>
                                </div>
                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">
                                <button class="btn btn-primary" v-on:click="$emit('close','cancel')">Cancel</button>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>

    <!-- modal-template-new-sms-contact -->
    <script type="text/x-template" id="modal-template-new-sms-contact">
        <transition name="modal">
            <div class="modal-mask" v-show="show">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            <slot name="header">
                                Nieuw bericht
                            </slot>
                        </div>

                        <div class="modal-body">
                            <slot name="body">
                                <div class="form-group">
                                    <table>
                                        <tr>
                                            <td>Contact:</td>
                                            <td>
                                                <select v-model="newSms.ContactId" class="form-control">
                                                    <option v-for="contact in contacts" v-bind:value="contact.Id">{{ contact.FirstName +' '+ contact.LastName }}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Bericht:</td>
                                            <td><textarea v-model="newSms.Message" class="form-control"></textarea></td>
                                        </tr>
                                    </table>

                                </div>
                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">
                                <button class="btn btn-primary" v-on:click="$emit('close')">Cancel</button>
                                <button v-on:click="save" class="btn btn-primary">Save</button>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>

    <!-- modal-template-new-sms-number -->
    <script type="text/x-template" id="modal-template-new-sms-number">
        <transition name="modal">
            <div class="modal-mask" v-show="show">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            <slot name="header">
                                Nieuw bericht
                            </slot>
                        </div>

                        <div class="modal-body">
                            <slot name="body">
                                <div class="form-group">
                                    <table>
                                        <tr>
                                            <td>Nummer:</td>
                                            <td><input v-model="newSms.ContactNumber" class="form-control"></input></td>
                                        </tr>
                                        <tr>
                                            <td>Bericht:</td>
                                            <td><textarea v-model="newSms.Message" class="form-control"></textarea></td>
                                        </tr>
                                    </table>

                                </div>
                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">
                                <button class="btn btn-primary" v-on:click="$emit('close')">Cancel</button>
                                <button v-on:click="save" class="btn btn-primary">Save</button>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>

    <!--Reference to Vue code -->
    <script src="~/ViewModels/Home/App.js"></script>

    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR connection script-->
    <script src="~/SignalR/SignalR-ServerSentEvents.js"></script>
    <!--SignalR script with page-specific methods.-->
    <script src="~/ViewModels/Home/SignalR.js"></script>
}